





/* call to action */
.cta{
    margin: 50px auto;
    width: 80%;
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7), url(./img/1650438854_How-To-Use-Microsoft-Teams-Rooms.jpg)); */


    /* background: url(./img/1650438854_How-To-Use-Microsoft-Teams-Rooms.jpg); */
    /* background-color: linear-gradient(rgba(243, 9, 9, 0.9),rgba(10, 14, 252, 0.9)); */
    /* background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("./img/1650438920_Industry-level-machine-learning-projects.jpg") no-repeat; */
    /* background-blend-mode:multiply; */

    background: rgba(0, 0, 0, 0.5) url("../img/How-To-Write-A-Business-Proposal-Upwork-Proposal.jpg");
    background-blend-mode:multiply;

    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    /* z-index: 8; */
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.cta .herp-btn{
    background: rgba(11, 51, 207, 1);
}


/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
    color: #f44336;
}

.footer a{
    text-decoration: none;
    font-weight: 600;
    color: #090c9b;
}
