*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/* PROGRAM */
.program{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.program-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition:  0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.program-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}






@media (max-width:700px) {
    .row{
        flex-direction: column;
    }
}